<appSettings>
  <add key="AMQPHost" value="weasel.rmq.cloudamqp.com"/>
  <add key="AMQPUsername" value="uehtvozx"/>
  <add key="AMQPPassword" value="sXzWtscN6-JVTaUehnToeXlgDJAwwWnQ"/>
  <add key="AMQPVirtualHost" value="uehtvozx"/>
  <add key="AMQPPort" value="5672"/>
  <add key="endpoint" value="https://ubs-fundmanager.documents.azure.com:443/" />
  <add key="authKey" value="ffLOKxrACZtGc6a6OhZE2u0isoV8qflRLUA2t7TYOzKKO6eMzC6yPGU4A4gPmGPBm6Wy0fxXP9ksA9G9Lp2qJg==" />
  <add key="databaseId" value="FundManagerDB" />
  <add key="collectionId" value="funds" />
  <add key="LogPath" value="C:\Logs\UBSFundManager"/>
</appSettings>