<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Prism.Events.IEventAggregator, Prism" mapTo="Prism.Events.EventAggregator, Prism">
      <lifetime type="singleton" />
    </register>
    <register type="MahApps.Metro.Controls.Dialogs.IDialogCoordinator, MahApps.Metro" 
              mapTo="MahApps.Metro.Controls.Dialogs.DialogCoordinator, MahApps.Metro">
      <lifetime type="singleton" />
    </register>
    <register type="UBS.FundManager.UI.Shell.IShellViewModel, UBS.FundManager.UI" 
              mapTo="UBS.FundManager.UI.Shell.ShellViewModel, UBS.FundManager.UI">
      <lifetime type="singleton" />
    </register>
    <register type="Prism.Logging.ILoggerFacade, Prism"
              mapTo="UBS.FundManager.Common.Helpers.PrismLog4NetLogger, UBS.FundManager.Common">
      <lifetime type="singleton" />
    </register>
    <register type="UBS.FundManager.Messaging.IMessagingClient, UBS.FundManager.Messaging"
          mapTo="UBS.FundManager.Messaging.MessagingClient, UBS.FundManager.Messaging">
    </register>
    <register type="UBS.FundManager.Messaging.FundCalculator.IStockValueCalculator, UBS.FundManager.Messaging"
              mapTo="UBS.FundManager.Messaging.FundCalculator.EquityStockCalculator, UBS.FundManager.Messaging"
              name="equityCalculator" />
    <register type="UBS.FundManager.Messaging.FundCalculator.IStockValueCalculator, UBS.FundManager.Messaging"
              mapTo="UBS.FundManager.Messaging.FundCalculator.BondStockCalculator, UBS.FundManager.Messaging"
              name="bondCalculator" />
  </container>

</unity>