<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="UBS.FundManager.Common.Helpers.ILogging, UBS.FundManager.Common"
              mapTo="UBS.FundManager.Common.Helpers.Log4NetLogger, UBS.FundManager.Common">
      <lifetime type="singleton" />
    </register>
    <register type="UBS.FundManager.DataAccess.IFundRepository, UBS.FundManager.DataAccess"
              mapTo="UBS.FundManager.DataAccess.FundRepository, UBS.FundManager.DataAccess">
      <lifetime type="singleton" />
    </register>
    <register type="UBS.FundManager.Service.EventComponents.IListeningComponent, UBS.FundManager.Service"
              mapTo="UBS.FundManager.Service.EventComponents.AddFundListeningComponent, UBS.FundManager.Service"
              name="addFundListener" />
    <register type="UBS.FundManager.Service.EventComponents.IListeningComponent, UBS.FundManager.Service"
          mapTo="UBS.FundManager.Service.EventComponents.FundsDownloadListeningComponent, UBS.FundManager.Service"
          name="fundDownloadListener" />
      <register type="RabbitMQ.Client.IConnectionFactory, RabbitMQ.Client"
              mapTo="RabbitMQ.Client.ConnectionFactory, RabbitMQ.Client"
              name="fundListener" />
  </container>
</unity>